/*!
 *   GHCI
 *   Author: GHCI Dev
/*
 * Core: General Layout Style
 * -------------------------
 */
 .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px;
      border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
      display: block;
    }

    .dropdown-submenu>a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #ccc;
      margin-top: 5px;
      margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
      border-left-color: #fff;
    }

    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 400;
      overflow-x: hidden;
      overflow-y: auto;
      font-size: 13px 
    }

    /*content*/
    .content-headerFixed
    {
      position:fixed;
      background-color: #ecf0f5;
      margin-left:230px;
      left:0;
      right:0;
      padding: 15px 15px 0 15px;
    }
  
    .content-wrapper {
      min-height: 738px;
    }

    .content-header {
      /*margin-top:-15px;*/
      /*margin-bottom:-20px;*/
      padding-top: 10px;
      /*padding-bottom: -100px;*/
    }

    .content {
        min-height: 200px;
        padding: 2px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .content-ghci {
        min-height: 250px;
        padding: 10px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    /*nav*/

    .navbar {
      background-color: #2a4255;
      color: #fff !important;
    }

    .navbar-header {
      margin-left: 10px;
      /*margin-right: 20px;*/
    }

    .main-header .navbar-custom-menu, .main-header .navbar-right {
        float: right;
        margin-right: 10px;
    }

   .nav>li>a { 
      color: #fff;
      background-color: #2a4255;
      padding: 15px 10px;
    }
    
   .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
      background-color: #1d2e3b;
      border-color: #337ab7;
      color: #fff;
    }
   
   .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
      color: #fff;
      background: #1d2e3b;
   }

   .dropdown-menu > li > a:hover {
        background-color: #738a97;
        color: #333;
    }

   /*button*/

  .btn-primary-ghci {
      background-color: #738a97;
      color: #444;
      border-color: #ddd;
  }

  .btn-success-ghci {
      background-color: #daf8d0;
      color: #444;
      border-color: #ddd;
  }

  .btn-danger-ghci {
      background-color: #f8e0e0;
      color: #444;
      border-color: #ddd;
  }

  .btn-primary-tool-ghci {
      background-color: #2a4255;
      color: #fff;
      border-color: #ddd;
  }

  /*table*/
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 4px;
      line-height: 1.42857143;
      vertical-align: top;
      /*border-top: 1px solid #ddd;*/
  }
/*
  .table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
      background-color: #738a97d9;
  }

  .table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: #738a97d9;
  }

  .table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: #738a97d9;
  }

  .table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: #738a97d9;
  }
 */

 /*box*/
   .box.box-danger-ghci {
      border-top-color: #b06b48;
  }

  .table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
      background-color: #fbfbfb;
  }
 
 .table-hover>tbody>tr.success:hover>td, .table-hover>tbody>tr.success:hover>th, .table-hover>tbody>tr:hover>.success, .table-hover>tbody>tr>td.success:hover, .table-hover>tbody>tr>th.success:hover {
      background-color: #fbfbfb;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 8px;
  } 

  .nav-tabs>li>a {
      margin-right: 2px;
      line-height: 0.2857143;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
  }
 